<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Blink1Control.Properties.Settings>
            <setting name="inputs" serializeAs="String">
                <value>{
  "New Comic": {
    "iname": "New Comic",
    "pname": "New Comic",
    "type": "ifttt",
    "arg1": "GR: New Comic",
    "lastVal": "[couldn't connect]",
    "possibleVals": [],
    "lastTime": "1386700363"
  },
  "New Dev Article": {
    "iname": "New Dev Article",
    "pname": "New Dev Article",
    "type": "ifttt",
    "arg1": "GR:New Dev Item",
    "lastVal": "[couldn't connect]",
    "possibleVals": [],
    "lastTime": "1386700363"
  },
  "NewMail": {
    "iname": "NewMail",
    "pname": "NewMail",
    "type": "script",
    "arg1": "C:\\Users\\maweir\\Documents\\blink1-scripts\\OutlookNewMail.exe",
    "lastVal": "NewMail",
    "possibleVals": [],
    "lastTime": "1386700363"
  },
  "FPG New Mail": {
    "iname": "FPG New Mail",
    "pname": "FPG New Mail",
    "type": "ifttt",
    "arg1": "FPGNewMail",
    "lastVal": "[couldn't connect]",
    "possibleVals": [],
    "lastTime": "1386700363"
  }
}</value>
            </setting>
            <setting name="patterns" serializeAs="String">
                <value>{
  "New Comic": {
    "name": "New Comic",
    "repeats": 1,
    "playcount": 0,
    "playpos": 0,
    "playing": false,
    "pattern": "1,#D3FFBE,30.00"
  },
  "New Dev Article": {
    "name": "New Dev Article",
    "repeats": 1,
    "playcount": 0,
    "playpos": 0,
    "playing": false,
    "pattern": "1,#3CFF1D,30.00"
  },
  "NewMail": {
    "name": "NewMail",
    "repeats": 3,
    "playcount": 0,
    "playpos": 0,
    "playing": false,
    "pattern": "3,#FF7B8B,1.00,#000000,0.50,#EB60FF,1.00,#000000,0.50"
  },
  "FPG New Mail": {
    "name": "FPG New Mail",
    "repeats": 10,
    "playcount": 0,
    "playpos": 0,
    "playing": false,
    "pattern": "10,#20DBFF,2.00,#EEEEEE,0.50,#1FE0FF,2.00,#EEEEEE,0.50"
  }
}</value>
            </setting>
            <setting name="logToScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hostId" serializeAs="String">
                <value>1A0012FA</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </Blink1Control.Properties.Settings>
    </userSettings>
</configuration>